@import "../mixin.scss";
@import "../variables.module.scss";

.footer {
  width: 100%;
  @include flex(center, center);
  position: absolute;
  height: 60px;
  bottom: 0;
  left: 0;

  > div {
    width: 60%;
    padding: 0 30px;
    @include flex(center, space-between);
  }

  .desc {
    font-size: 14px;

    a {
      color: rgb(3, 111, 185);
    }

    span {
      display: inline-block;
      margin-left: 10px;
    }
  }
}

@media screen and (max-width: 960px) {
  .footer {
    @include flex(center, flex-start);
    height: 100px;
    border-top: 1px solid #f2f2f2;

    > div {
      width: 100%;
      display: block;
    }

    .desc:last-child {
      margin-top: 10px;
    }
  }
}
