@import "../mixin.scss";
@import "../variables.module.scss";

.home {
  padding: 70px 0 60px 0;

  .wrap {
    padding: 20px 0 0 0;
    width: 1100px;
    @include flex(flex-start, center);
    margin: 0 auto;

    .left {
      width: 770px;

      .articleList {

      }

      .item {
        margin-bottom: 12px;
        @include flex(flex-start, flex-start);
        background: white;
        padding: 15px;
        border-radius: 5px;
        box-shadow: 0 2px 2px #00000014;
        transition: all linear .2s;
        cursor: pointer;

        &:hover {
          background: #fff;
          box-shadow: 1px 2px 12px 1px #00000026;
          transition: all linear .2s;
        }
      }

      .coverImg {
        margin-right: 20px;

        img {
          border-radius: 5px;
          width: 200px;
        }
      }

      .content {
        width: 100%;
      }

      .title {
        font-weight: normal;
        color: #555555;
        font-size: 20px;

        &:hover {
          color: $base-color;
        }
      }

      .brief {
        margin-top: 10px;
        font-size: 14px;
        height: 40px;
        color: #666;
      }

      .bottom {
        margin-top: 14px;
        @include flex(center, space-between);

        .bottomLeft {
          @include flex(center, center);

          .time {
            font-size: 14px;
            color: #999;
            @include flex(center, center);

            .timeIcon {
              width: 16px;
              margin-right: 6px;
            }
          }

          .tagList {
            margin-left: 10px;
            color: #999;
            @include flex(center, center);

            .tagIcon {
              width: 16px;
              margin-right: 6px;
            }

            .tag {
              margin-right: 10px;
              font-size: 14px;

              &:hover {
                color: $base-color;
              }
            }
          }
        }

        .bottomRight {
          @include flex(center, center);

          span {
            font-size: 12px;
            @include flex(center, center);
            color: #999;
            font-weight: normal;
            margin-right: 6px;

            img {
              width: 16px;
              margin-right: 2px;
            }
          }
        }

      }
    }

    .right {
      margin-left: 20px;
      width: 310px;
      background: white;
      //box-shadow: 0 2px 9px #00000014;
    }
  }
}
